

.login {
    background: var(--wings-primary-color-tints-3);
    /* color: var(--wings-color-gray-5); */
    color: var(--wings-primary-color-tints-1);
}

.login-btn {
    background: transparent;
    border: 0.1rem solid var(--wings-primary-color-tints-1);
    color: var(--wings-primary-color-tints-1);
    padding: 8px 16px;
    border-radius: .3rem;
    transition: all 0.3s;
}

.login-btn:hover {
    background: var(--wings-primary-color-tints-1);
    color: var(--wings-color-gray-5);
}

.google-login{
    background: #DB4437;
    padding: 0.4rem;
    border-radius: .5rem;
    cursor: pointer;
}
.google-icon{
    font-size: 1.2rem;
    background: white;
    color: #DB4437;
    border-radius: 50%;
    padding: 0.2rem;
    margin-left: 1rem;
}