.chef-bg {
    background: var(--wings-primary-color-tints-1);
}
.customer-card-body {
    margin-top: -4.5rem !important;
    color: var(--mainGrey);
}

.customer-img {
    border: 0.4rem solid #fff;
    width: 6.4rem;
    height: 7rem;
}

.customer-name {
    /* color: var(--mainBlue); */
    margin: 0.5rem;
    font-size: 1.8rem;
}

.customer-icon {
    font-size: 2rem;
    /* color: var(--mainGrey); */
}

.customer-quote {
    max-width: 90%;
}

.chef-icon{
    color: var(--wings-primary-color);
}

.chef-title{
    color: var(--wings-primary-color-tints-3);
}

.chef-role{
    color: var(--mainDark);
}

.LazyLoad {
    opacity: 0;
    transition: all 1s ease-in-out;
}

.is-visible {
    opacity: 1;
}