
:root{
  --wings-primary-color: #e67e22;
  --wings-primary-color-tints-1: #fdf2e9;
  --wings-primary-color-tints-2: #fae5d3;
  --wings-primary-color-tints-3: #eb984e;
  --wings-shades-1: #cf711f;
  --wings-shades-2: #45260a;
  --wings-color-gray-1: #888;
  --wings-color-gray-2: #767676;
  --wings-color-gray-3: #6f6f6f;
  --wings-color-gray-4: #555;
  --wings-color-gray-5: #333;
  --wings-color-white: #fff;

  --mainDark: #242325;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
}

.navbar {
  background: var(--wings-primary-color-tints-1);
}

.active {
  color: #e67e22 !important;
}

.default{
  color: #242325 !important;
}

.service-link {
  text-decoration: none;
}

.service-link:hover {
  color: var(--wings-primary-color-tints-2);
  text-decoration: none;
}

.text-wing-primary{
  color: var(--wings-primary-color);
}

.home-btn {
  /* background-color: var(--wings-primary-color); */
  background-color: var(--wings-shades-1) !important;
  color: var(--wings-primary-color-tints-2) !important;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
}

.home-btn:hover {
  background-color: var(--wings-primary-color-tints-3) !important;
  /* color: var(--wings-shades-2) ; */
}

.title-underline {
  width: 12rem;
  height: 0.3rem;
  position: relative;
  border-radius: 2rem;
}

.title-underline__center {
  position: absolute;
  height: 0.6rem;
  width: 50%;
  background: var(--wings-primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

.color-mainDark{
  color: var(--wings-color-gray-4);
}

.footer{
  /* background: var(--mainDark); */
  background: var(--mainDark);
}


/* Lazy Loading Images Added */
.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}